header {
  padding: 3rem;
}

header h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

header h1 a {
  color: black;
  text-decoration: none;
}

header h1 a:hover {
  color: red;
}

main {
  max-width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

main div.add-button-container {
  align-self: flex-end;
  padding-block: 2rem;
}

main div.add-button-container a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: green;
}

main div.add-button-container a:hover {
  background-color: rgb(0, 189, 0);
}

main table {
  width: 100%;
  background-color: white;
}

main table thead {
  background-color: grey;
}

main table thead td {
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

main table tbody tr:nth-child(odd) {
  background-color: rgb(211, 226, 231);
}

main table tbody tr:hover {
  background-color: lightgrey;
}

main table tbody tr td {
  padding: 0.75rem;
}

main table tbody tr td a {
  color: black;
  text-decoration: none;
}

main .comics-container {
  display: flex;
  flex-wrap: wrap;
}

main .comics-container .comic-mini-card {
  width: calc(25% - 4rem);
  margin: 2rem;
}

main .comics-container .comic-mini-card img {
  max-width: 50%;
}

main .comics-container .comic-mini-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid transparent;
  color: black;
}

main .comics-container .comic-mini-card a:hover {
  border: 1px solid grey;
}

main div.comic-card {
  height: 1000px;
  width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  box-shadow: 1rem 0 1rem grey, -1rem 0 1rem grey;
}

main div.comic-card .comic-thumb-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

main div.comic-card .comic-thumb-container img {
  width: 100%;
  max-width: 400px;
}

main div.comic-card h3 {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  margin-top: 3rem;
}

main div.comic-card h4 {
  font-size: 1.3rem;
  padding: 1rem 3rem;
}

main div.comic-card p {
  padding-inline: 3rem;
}

main form {
  display: flex;
  flex-direction: column;
}

main form label {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

main form input {
  font-size: 1.5rem;
}

main form input[type=submit] {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

main form input[type=submit]:hover {
  background-color: rgb(0, 189, 0);
}

main form textarea {
  resize: none;
  font-size: 1.5rem;
}

main form select {
  font-size: 1.5rem;
}

div.admin-button {
  padding-left: 2rem;
}

div.admin-button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: red;
  font-weight: bold;
}

footer {
  font-size: 1.8rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

