main {
    max-width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    div.comic-card {
        height: 1000px;
        width: 700px;
        border: 5px solid black;
    }

    table {
        width: 100%;
        background-color: white;

        thead {
            background-color: grey;
            td {

                padding: .5rem 1rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        tbody {

            tr {

                &:nth-child(odd) {
                    background-color: rgb(211, 226, 231);
                }

                    
                &:hover {
                    background-color: lightgrey;
                }
                td {
                    padding: .75rem;
                    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    
                }
            }
        }
    }
}