main {
    max-width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // ADMIN TABLE
    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    div.element-changed {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding-block: .75rem;

        &.removed {
            background-color: rgb(233, 94, 94);
        }
        &.updated {
            background-color: rgb(88, 185, 241);
        }
        &.added {
            background-color: rgb(100, 197, 133);
        }
    }

    div.add-button-container {
        align-self: flex-end;
        padding-block: 2rem;

        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            padding: .5rem 2rem;
            margin-right: 10rem;
            border-radius: .5rem;
            border: 3px solid transparent;
            background-color: rgb(0, 189, 0);
            transition: .4s;


            &:hover {
            border: 3px solid rgb(0, 189, 0);
            background-color: green;
            }
        }
    }

    table {
        width: 100%;
        background-color: white;
        border-collapse:collapse;

        thead {
            background-color: grey;
            td {

                padding: .5rem 1rem;
                font-weight: bold;
                text-transform: uppercase;

                &:last-child {
                    background-color: whitesmoke;
                }
            }
        }

        tbody {

            tr {

                &:nth-child(odd) {
                    background-color: rgb(211, 226, 231);
                }

                    
                &:hover {
                    background-color: lightgrey;
                }
                td {
                    padding: .75rem;

                    &:last-child {
                        display: flex;
                        background-color: whitesmoke;
                        gap: .5rem;
                        justify-content: center;
                    }
                    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    
                    a.edit-element-button, 
                    button {
                        display: inline-block;
                        padding: .5rem 2rem;
                        border-radius: .5rem;
                        font-weight: bold;
                        color: white;
                        text-transform: uppercase;
                    }

                    a.edit-element-button {
                        text-decoration: none;
                        background-color: rgb(56, 166, 199);
                        transition: .4s;
                        border: 3px solid transparent;

                        &:hover {
                            background-color: rgb(43, 110, 131);
                            border: 3px solid rgb(56, 166, 199);
                        }
                    }

                    button {
                        border: none;
                        background-color: rgb(214, 61, 34);
                        cursor: pointer;
                        transition: .4s;
                        border: 3px solid transparent;

                        &:hover {
                            background-color: rgb(150, 43, 24);
                            border: 3px solid rgb(214, 61, 34);
                        }
                    }
                }
                    
            }

        }
    }

    // GUEST HOMEPAGE

    .comics-container {
        display: flex;
        flex-wrap: wrap;

        .comic-mini-card {
            width: calc(100% / 4 - 4rem);
            margin: 2rem;

            img {
                max-width: 50%;
            }
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                border: 1px solid transparent;
                color: black;

                &:hover {
                    border: 1px solid grey;
                }
            }
        }
    }

    // COMIC CARD
    div.show-buttons-container {
        display: flex;
        margin-bottom: 2rem;
        gap: 2rem;

        a, 
        button {
            display: inline-block;
            padding: .5rem 3rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            border-radius: 1rem;
        }

        a {
            text-decoration: none;
            background-color: rgb(56, 166, 199);
            transition: .4s;
            border: 3px solid transparent;

            &:hover {
                background-color: rgb(43, 110, 131);
                border: 3px solid rgb(56, 166, 199);
            }
        }

        button {
            border: none;
            background-color: rgb(214, 61, 34);
            cursor: pointer;
            transition: .4s;
            border: 3px solid transparent;

            &:hover {
                background-color: rgb(150, 43, 24);
                border: 3px solid rgb(214, 61, 34);
            }
        }
    }

    div.comic-card {
        height: 1000px;
        width: 700px;
        display: flex;
        flex-direction: column;
        border-radius: 3rem;
        box-shadow: 1rem 0 1rem grey, -1rem 0 1rem grey;

        .comic-thumb-container {
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            img {
                width: 100%;
                max-width: 400px;
            }
        }

        h3 {
            font-size: 2rem;
            padding: 0 1rem;
            text-align: center;
            font-style: italic;
            margin-top: 3rem;
        }

        h4 {
            font-size: 1.3rem;
            padding: 1rem 3rem;
        }

        p {
            padding-inline: 3rem;
        }
    }

    // CREATE/EDIT FORM

    form {
        display: flex;
        flex-direction: column;

        label {
            text-transform: uppercase;
            font-weight: bold;
            padding: .5rem 0;
            font-size: 1.5rem;
        }

        input {
            font-size: 1.5rem;
            width: 50rem;

            &[type="submit"] {
                display: inline-block;
                padding: .5rem 2rem;
                border-radius: .5rem;
                background-color: green;
                color: white;
                border: none;
                cursor: pointer;
                margin-top: 1rem;
    
                &:hover {
                    background-color: rgb(0, 189, 0);
                }

            }
        }

        textarea {
            resize: none;
            font-size: 1.5rem;
        }

        select {
            font-size: 1.5rem;
        }
    }

    // ERROR MESSAGES
    div.displayed-error {
        color: red;
        font-style: italic;
        padding-block: .5rem;
    }
}


// ADMIN BUTTON
div.admin-button {
    padding-left: 2rem;
    
    a {
        font-size: 1.5rem;
        text-decoration: none;
        color: red;
        font-weight: bold;
    }
}